body {
    background-image: url("../img/bg/dark-smoke.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header {
    background-color: rgba(9, 9, 11, 1);
}

.main-container {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 1500px;
    margin: 0 auto; 
}

.main-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

/*******************/
/****Consummable Card****/
/*******************/

.consummable-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(146, 145, 145, 0.3);
    background-color: rgba(9, 9, 11, 0.5);
    box-shadow: 5px 5px 6px rgba(9, 9, 11, 0.8);  
    backdrop-filter: blur(10px);
    padding: 1rem;
    margin-bottom: 2rem;
}

/****Card-Header****/

.consummable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-cost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header-cost img {
    width: 30px;
}

/****Consummable-Body****/

.consummable-body {
    display: flex;
}

/****INFOS****/

.consummable-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 3rem;
}

.img-consummable {
    width: 100px;
    height: auto;
    margin-top: 0.5rem;
}

/****STATS****/

.consummable-stats {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    font-weight: 600;
    gap: 1rem;
    width: 70%;
}

.stat-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-bar {
    position: relative;
}

.grey-line {
    position: absolute;
    z-index: 0;
    height: 4px;
    width: 100%;
    background: var(--grey);
    display: block;
}

.red-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 4px;
    background: var(--red-dark);
    display: block;
    width: 72%;
}

.hidden {
    display: none;
}
