body {
    background-image: url("../img/bg/bg-flou.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/****MAIN****/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    max-width: 400px;
    width:90%;
    margin: 0 auto;
    padding:2rem;
    padding-bottom: 2rem;
    background-color: var(--color-grey-dark-transparent);
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    text-align: center;
}

.text {
    padding-bottom: 1rem;
    line-height: 1.3;
}
