/****Search Bar****/

.filter-container {
    display: flex;
    justify-content: space-between;
    gap:6px;
}

/****Sort-by****/

.no-results-message {
    margin-bottom: 35%;
}

/****Card-Body****/

.card-body-description {
    width: 35%;
}

.card-body-stats {
    width: 65%
}

/**** Img****/

.body-img {
    width: 100px;
    height: auto;
    margin-top: 0.5rem;
}