/********************/
/****Filter Weapons****/
/********************/

.filter-container {
    position: relative;
}

.filter-title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.filter-category-btn, .filter-ammo-btn {
    width: calc(40% - 6px);
    padding: 0.5rem 1rem;
    margin-bottom:2rem;
    border: 1px solid rgba(146, 145, 145, 0.5);
    background-color: rgba(9, 9, 11, 0.5);
    box-shadow: 5px 5px 6px rgba(9, 9, 11, 0.8);    
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.filter-category-btn:hover, .filter-ammo-btn:hover {
    background-color: var(--red-dark);
    border: 1px solid rgb(146, 145, 145);
}

.selected {
    background-color: var(--red-dark);
}


/************/
/****Card****/
/************/

/****Card-Body****/

.card-body {
    display: grid;
    grid-template-columns: 3fr 1fr 6fr;
}

/****Body-infos img****/

.img-weapon {
    margin-top: 0.5rem;
    max-width: 430px;
}

/****Body-ammo****/

.body-ammo {
    margin:0 auto;
    text-align: center;
    gap:5px;
}

.ammo-type {
    gap:0.5rem;
}

.ammo-type img {
    width:40px;
}

.special_ammo img {
    width: 30px;
}
