/**********************/
/****Filter Weapons****/
/**********************/

.filter-title {
    margin-top:2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.filter-category-btn {
    width: calc(100%/4 - 6px)
}

.filter-ammo-btn {
    width: calc(100%/6 - 6px)
}

.filter-category-btn, .filter-ammo-btn {
    padding: 0.5rem 0;
    border: 1px solid var(--color-border);
    background-color: var(--color-grey-dark-transparent);
    box-shadow: 5px 5px 6px var(--color-shadow);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.filter-category-btn:hover, .filter-ammo-btn:hover {
    background-color: var(--color-red-dark);
    border: 1px solid var(--color-border-hover);
}

/************/
/****Card****/
/************/

/****Card-Header****/

.header-type {
    padding-top: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-border);
}

/**** Card-Body ****/

/* Description */

.card-body-description {
    width: 40%;
}

/*Description - Infos*/

.description-infos {
    width: 80%;
}

.infos-image {
    margin-top: 0.5rem;
    max-width: 380px;
    width: fit-content;
}

.infos-image img {
    width: 100%;
    height: auto;
}

/*Description - Ammo*/

.description-ammo {
    width: 22%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin:0 auto;
}

.ammo-type img {
    width:40px;
}

.special_ammo img {
    width: 25px;
}


/* Stats*/

.card-body-stats {
    width: 60%;
}

/**** Selected class ****/

.selected {
    border: 1px solid var(--color-border-hover);
    background-color: var(--color-red-dark);
}

/**** Hidden class ****/

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease; ;
}

/******************/
/****Responsive****/
/******************/

/*** < 1399px screens ****/

@media (max-width: 1399px) {
    /* Ajust width description & stats */
    .card-body-description, .card-body-stats {
        width: auto;
    }
    .description-infos {
        width: 90%;
    }
    .description-ammo {
        width: 10%;
    }
}

/*** < 699px screens ****/
@media (max-width: 699px) {
    /* Width filter buttons */
    .filter-category-btn {
        width: calc(100%/2 - 6px)
    }
    .filter-ammo-btn {
        width: calc(100%/3 - 6px)
    }
}
