/* crimson-text-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/crimson-text-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* crimson-text-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
src: url('../fonts/crimson-text-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --color-text: rgb(171, 172, 174);
    --color-red: rgb(100, 26, 26);
    --color-red-dark: rgb(77, 15, 16);
    --color-grey-dark: rgb(9, 9, 11);
    --color-grey: rgb(146, 145, 145);
    --color-grey-dark-transparent: rgba(9, 9, 11, 0.5);
    --color-grey-light-transparent: rgba(24, 24, 27, 0.5);
    --color-shadow:rgba(9, 9, 11, 0.8);
    --color-border: rgba(146, 145, 145, 0.5);
    --color-border-hover: rgba(146, 145, 145);
}

body {
    min-height: 100vh;
    font-family: "Crimson Text";
    font-size: 1.2rem;
    color: var(--color-text);
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-grey-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-red-dark);
}

/**** Header ****/

.header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 3%;
    background-color: var(--color-grey-dark-transparent);
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    font-size: 1.1rem;
}

.header-logo {
    padding: 0.5rem 1rem;
    border-bottom: 2px solid rgba(77, 15, 16, 0.7);
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--color-red-dark);
}

.nav-link {
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: var(--color-red-dark);
}

.nav-toggle {
    display: none;
    font-size: 2rem;
}

@media (max-width: 699px) {
    .nav-toggle {
        display: block;
    }

    .header-nav {
        position: fixed;
        display: flex;
        left: 100%;
        top: 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 4rem);
        padding: 1.2rem 0;
        background-color: var(--color-grey-dark);
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }

    .active.header-nav {
        left: 0;
        height: calc(100vh - 4rem);
        transform: translateX(0);
        opacity: 1;
    }

    .nav-link {
        width: 100%;
        margin: 1rem;
        padding:1rem;
        text-align: center;
    }
}


/**** Main ****/

.main {
    flex-grow: 1;
}

/**** Footer ****/
.footer {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--color-grey);
}

.footer p {
    padding: 0.2rem;
}

/**** Red Button ****/

.red-button {
    width: 12rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-red-dark);
    box-shadow: 5px 5px 6px var(--color-shadow);
    color:var(--color-text);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.red-button:hover {
    background-color: var(--color-red);
    border: 1px solid var(--color-border-hover);
}

/**** Fade-in Animation ****/

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in-visible {
    opacity: 1;
}
