<footer class="footer">
    <p>All visual elements are protected by <a href="https://www.crytek.com/">Crytek</a>'s copyright.</p>
    <p>Made with ❤️ by Elisabeth, French developer and Hunter.</p>
</footer>
</div>
</body>
</html>