<%- include('partials/header') %>

        <main class="error-container">
                <p class="text">Whooops, there is nothing here.</p>
                <button class="red-button">
                    <a href="/">BACK TO HOME</a>
                </button>
        </main>


<%- include('partials/footer') %>

<!-- Specific Css file for page Home -->
<link rel="stylesheet" href="../css/error.css">

</div>
</body>
</html>