<%- include('partials/header') %>
        
        <main class="main">
            <div class="main-container fade-in">

                <div class="filters">
                    <h1 class="filters-title">Filters</h1>
                    <form action="">
                        <div class="filter-group col">
                            <label for="price-range">Price Range :</label>
                            <input type="number" id="min-price" name="min-price" step="1" placeholder="Min Price">
                            <input type="number" id="max-price" name="max-price" step="1" placeholder="Max Price">
                        </div>
                        <div class="filter-group row">
                            <label>Special Ammo :</label>
                            <label class="switch" for="special-ammo">
                                <input type="checkbox" id="special-ammo" name="special-ammo" checked>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="filter-group row">
                            <label>Force Medkit :</label>
                            <label class="switch" for="medkit">
                                <input type="checkbox" id="medkit" name="medkit" checked>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="filter-group row">
                            <label>Force Melee Knife :</label>
                            <label class="switch" for="medkit">
                                <input type="checkbox" id="knife" name="knife" checked>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="filter-group row">
                            <label>Force Melee Duster :</label>
                            <label class="switch" for="medkit">
                                <input type="checkbox" id="duster" name="duster" checked>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <button class="generator-btn">Generate Loadout</button>
                    </form>
                </div>

                <div class="generator-container">
                    <div class="large">
                        <div class="large-slot">
                            <img class="weapon-img" src="" alt="">
                        </div>
                        <div class="ammo">
                            <img class="ammo-img" src="" alt="">
                        </div>
                    </div>
                    <h1 class="label">Large Slot</h1>

                    <div class="small">
                        <div class="small-slot">
                            <img class="weapon-img" src="" alt="">
                        </div>
                        <div class="ammo">
                            <img class="ammo-img" src="" alt="">
                        </div>
                    </div>
                    <h1 class="label">Small Slot</h1>

                    <div class="tools">
                        <div class="tool-slot">
                            <img class="tool-img" src="" alt="">
                        </div>
                        <div class="tool-slot">
                            <img class="tool-img" src="" alt="">
                        </div>
                        <div class="tool-slot">
                            <img class="tool-img" src="" alt="">
                        </div>
                        <div class="tool-slot">
                            <img class="tool-img" src="" alt="">
                        </div>
                    </div>
                    <h1 class="label">Tools</h1>

                    <div class="consumables">
                        <div class="consumable-slot">
                            <img class="consumable-img" src="" alt="">
                        </div>
                        <div class="consumable-slot">
                            <img class="consumable-img" src="" alt="">
                        </div>
                        <div class="consumable-slot">
                            <img class="consumable-img" src="" alt="">
                        </div>
                        <div class="consumable-slot">
                            <img class="consumable-img" src="" alt="">
                        </div>
                    </div>
                    <h1 class="label">Consumables</h1>
                </div>

                <div class="cost-content">
                    <div class="cost">
                        <h2>Total Cost</h2>
                        <img src="../img/logo/hunt-dollars.png" alt="Hunt Dollars">
                    </div>
                </div>

            </div>
        </main>

<%- include('partials/footer') %>

<!-- Specific Css file for page Generator -->
<link rel="stylesheet" href="../css/generator.css">
<!-- Specific Js file for page Generator -->

</body>
</html>