<%- include('partials/header') %>

        <main class="main">
            <div class="main-container fade-in">
                <img class="main-logo" src="../img/logo/logo_hunt.png" alt="Hunt Showdown">
                <p class="main-text">Hunt Showdown is a fantastic competitive and cooperative bounty hunting game, develops by Crytek.</br>Blending PVP and PVE, the game stands out particularly for its demanding level of difficulty and its immersive atmosphere in a post-apocalyptic Western setting, of dark and striking beauty.</p>
                <h1 class="main-title">Arsenal</h1>
                <a href="/weapons" class="main-link red-button">Weapons</a>
                <a href="/tools" class="main-link red-button">Tools</a>
                <a href="/consumables" class="mmain-link red-button">Consummables</a>

            </div> 
        </main>

<%- include('partials/footer') %>

<!-- Specific Css file for page Home -->
<link rel="stylesheet" href="../css/home.css">

</body>
</html>