<%- include('partials/header') %>
        
        <main class="main">
            <div class="main-container">
                <h1 class="main-title">Weapons Arsenal</h1>
                <nav class="sort-weapons">
                    <a class="sort-weapons-link" href="">All weapons</a>
                    <a class="sort-weapons-link" href="">Large</a>
                    <a class="sort-weapons-link" href="">Medium</a>
                    <a class="sort-weapons-link" href="">Small</a>
                </nav>
                <div class="weapon-card">
                    <div class="weapon-header">
                        <div class="header-title">
                            <h1 class="name">Berthier Mle 1892</h1>
                            <h3 class="type">Bolt-action Rifle</h3>
                        </div>
                        <div class="header-cost">
                            <h2 class="cost">356</h2>
                            <img src="../img/logo/hunt-dollars.png" alt="Hunt Dollars">
                        </div>
                    </div>

                    <div class="weapon-body">
                        <div class="weapon-info">
                            <p>The lighter alternative to the Lebel 1886, the Berthier Mle 1892 is a
                                bolt-action mousqueton that doesn't lose power for the sake of its convenience.</p>
                            <img class="img-weapon" src="../img/weapons/large/berthier_mle_1892.png"
                                    alt="Berthier Mle 1892">
                        </div>
           
                        <div class="weapon-ammo">
                            <div class="ammo-type">
                                <img src="../img/ammo/ammo_icon_long.png" alt="Long Ammo">
                                <p class="ammo-capacity">3/6</p>
                            </div>
                            <div class="special_ammo">
                                <img src="../img/specials_ammo/long_incendiary.png"
                                alt="This bullet contains a small phosphorous charge that ignites when fired and sets flammable targets alight. A visible traver can give the shooter's position away.">
                                <img src="../img/specials_ammo/long_spitzer.png"
                                alt="Spitzer rounds revolutionize rifle ballistics, improving both penetration and muzzle velocity, though adding slightly stronger recoil. They are more stable in flight and can punch clean through multiple targets, but often cause less severe wounds.Spitzer rounds revolutionize rifle ballistics, improving both penetration and muzzle velocity, though adding slightly stronger recoil. They are more stable in flight and can punch clean through multiple targets, but often cause less severe wounds.">
                            </div>
                        </div>

                        <div class="weapon-stats">
          
                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Damage</p>
                                        <p>130</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Effective Range</p>
                                        <p>305m</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row hidden">
                                    <div class="stat-info">
                                        <p>Sighted Range</p>
                                        <p></p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Rate of Fire</p>
                                        <p>27rpm</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Cycle Time</p>
                                        <p>1.7s</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Spread</p>
                                        <p>47.5</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Sway</p>
                                        <p>77</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Vertical Recoil</p>
                                        <p>14</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Reload Speed</p>
                                        <p>2.7s</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Muzzle Velocity</p>
                                        <p>590m/s</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Melee Damage</p>
                                        <p>27</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Heavy Melee Damage</p>
                                        <p>54</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>
                
                                <div class="stat-row">
                                    <div class="stat-info">
                                        <p>Heavy Stamina</p>
                                        <p>25</p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>

                                <div class="stat-row hidden">
                                    <div class="stat-info">
                                        <p>Light Stamina</p>
                                        <p></p>
                                    </div>
                                    <div class="stat-bar">
                                        <span class="grey-line"></span>
                                        <span class="red-line"></span>
                                    </div>
                                </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </main>

<%- include('partials/footer') %>     

<!-- Specific Css file for page Home -->
<link rel="stylesheet" href="../css/weapons.css">      